@model IEnumerable<Product>

<style>
 .card-img-top {
     flex-grow: 1;
     object-fit: cover;
     overflow: hidden;
     aspect-ratio: 1 / 1;
 }
</style>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2 h-100">
                <div class="col-12 p-1">
                    <div class="card mb-3 shadow rounded">
                        <img alt="image" src="@product.ImageUrl" class="card-img-top rounded"/>
                        <div class="card-body">
                            <h5 class="card-title text-center">@product.Title</h5>
                            <p class="card-text text-center">Price: @product.Price.ToString("C")</p>
                            <a asp-action="Details"
                               asp-route-productId="@product.Id"
                               class="btn btn-primary bg-gradient form-control">
                                Details
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>